<footer style="background-color: rgb(145, 145, 145); padding: 3rem; margin-top: 3rem">
    <div class="container" >
      <div class="row">
        <div class="col-lg">
          <ul class="list-inline">
            {% if site.email %}
              <li class="list-inline-item">
                <a href="mailto:{{ site.email }}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            {% endif %}
  
            {% if site.twitter_username %}
              <li class="list-inline-item">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            {% endif %}
  
            {% if site.github_username %}
              <li class="list-inline-item">
                <a href="https://github.com/{{ site.github_username }}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
  
        {% for col in site.data.footer.columns %}
        <div class="col-lg">
          {{ col.description | markdownify }}
  
          {% if col.links %}
            <ul class="fa-ul">
            {% for item in col.links %}
              <li>
                <i class="fa-li fa fa-chevron-circle-right"></i>
                <a href="{{ item.href | relative_url}}" {% if item.new_window %}target="_blank"{% endif %}>{{ item.text }}</a>
              </li>
            {% endfor %}
            </ul>
          {% endif %}
  
        </div>
        {% endfor %}
      </div>
  
      <div class="small mt-2">
        <p class="copyright">
          <b>DISCLAIMER</b> - This is not the official NHSX site but a store of technical documents and ongoing work from the NHSX analytics unit made for transparency and collaboration.  Opinions expressed in posts are not representative of the views of NHSX and any content here should <b>not</b> be regarded as official output in any form. For more information about NHSX please visit our official <a style="color: #CF3587" href="https://www.nhsx.nhs.uk/">website</a>.
          </p>
      <p class="copyright"><img src="/assets/1200px-UKOpenGovernmentLicence.svg.png" width="30" height="15"> © 2021 (<a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a> ≥ 3) 
      </div>
    </div>
  </footer>