<footer style="background-color: lightgrey; padding: 3rem; margin-top: 3rem">
    <div class="nhsuk-footer" id="nhsuk-footer">
      <div class="nhsuk-width-container">
        <div class="row">
            <div class="col-lg">
                <h2 class="nhsuk-u-visually-hidden">Support links</h2>
                <ul class="nhsuk-footer__list">

                <!-- <li class="nhsuk-footer__list-item">
                    Developed by
                    <a
                    class="nhsuk-footer__list-item-link"
                    href="{{ site.github.owner_url }}"
                    >NHSX</a
                    >
                </li> -->

                <li class="nhsuk-footer__list-item">
                    View the Project on
                    <a
                    class="nhsuk-footer__list-item-link"
                    href="{{ site.github.repository_url }}"
                    >GitHub</a
                    >
                </li>

                {% if site.email %}
                    <li class="list-inline-item">
                    <a href="mailto:{{ site.email }}">
                        <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    </li>
                {% endif %}

                {% if site.github_username %}
                <li class="list-inline-item">
                    <a href="https://github.com/{{ site.github_username }}">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                </li>
                {% endif %}

                </ul>
            </div>
            <p class="copyright">
                <b>DISCLAIMER</b> - This is not the official NHSX site but a store of technical documents and ongoing work from the NHSX analytics unit made for transparency and collaboration.  Opinions expressed in posts are not representative of the views of NHSX and any content here should <b>not</b> be regarded as official output in any form. For more information about NHSX please visit our official <a style="color: #CF3587" href="https://www.nhsx.nhs.uk/">website</a>.
                </p>
            <p class="copyright"><img src="/assets/1200px-UKOpenGovernmentLicence.svg.png" width="30" height="15"> © 2021 (<a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a> ≥ 3) 
            <!-- <p class="nhsuk-footer__copyright">&copy; MIT</p> -->
        </div>
      </div>
    </div>
  </footer>