<footer style="background-color: lightgrey; padding: 3rem; margin-top: 3rem">
    <div class="nhsuk-footer" id="nhsuk-footer">
      <div class="nhsuk-width-container">
        <div class="row">
            <div class="col-lg">
                <h2 class="nhsuk-u-visually-hidden">Support links</h2>
                <ul class="nhsuk-footer__list">

                <li class="nhsuk-footer__list-item">
                    Developed by
                    <a
                    class="nhsuk-footer__list-item-link"
                    href="{{ site.github.owner_url }}"
                    >NHSX</a
                    >
                </li>

                <li class="nhsuk-footer__list-item">
                    View the Project on
                    <a
                    class="nhsuk-footer__list-item-link"
                    href="{{ site.github.repository_url }}"
                    >GitHub</a
                    >
                </li>

                {% if site.email %}
                    <li class="list-inline-item">
                    <a href="mailto:{{ site.email }}">
                        <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    </li>
                {% endif %}

                {% if site.github_username %}
                <li class="list-inline-item">
                    <a href="https://github.com/{{ site.github_username }}">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                </li>
                {% endif %}

                </ul>
            </div>
            <p class="nhsuk-footer__copyright">&copy; MIT</p>
        </div>
      </div>
    </div>
  </footer>