<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  {% include navbar.html %}

  <script>
    document.body.className = document.body.className
      ? document.body.className + " js-enabled"
      : "js-enabled";
  </script>



  <div class="nhsuk-grid-row" style="margin-top: 6rem"></div>

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

          <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                Disclaimer
              </span>
            </h3>
            <p>This is not the official site but a store of technical documents and ongoing work. Opinions expressed in posts are not representative of the views of NHS England and any content here should <b>not</b> be 
              regarded as official output in any form. For more information about NHS England please visit our official <a style="color: #CF3587"
                href="https://www.england.nhs.uk/">website</a></p>
          </div>

          {{ content }}
        </div>
      </div>
    </main>
  </div>

  {% include footer.html %}
</body>

</html>