<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include navbar.html %}

    <script>
        document.body.className = document.body.className
          ? document.body.className + " js-enabled"
          : "js-enabled";
    </script>

    <div class="nhsuk-grid-row" style="margin-top: 6rem"></div>

    <div class="nhsuk-width-container">
        <main class="nhsuk-main-wrapper" id="maincontent" role="main">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">{{ content }}</div>
          </div>
        </main>
    </div>

    {% include footer.html %}
  </body>
</html>