---
layout: base
---
<style>
nav {
  background-color: linen;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


.break-out {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
  color: rgba(0,0,0,.6);
}
</style>
{% include thinking_navbar.html %}

<div id="page-wrapper">
    <div id="main" role="main">			
        <div class="wrap">
            <div class="page-title">
                <h1>Posts</h1>
            </div>
            <div class="archive-wrap">
                <div class="page-content">
                    <div class="tiles">
                        {% for blog in site.data.blog %}
                        <article class="tile" itemscope="" itemtype="http://schema.org/Article">
                            <a href="{{blog.link}}" title={{blog.title}} class="post-teaser"><img src={{blog.image}} width="300"  height="300" alt="teaser" itemprop="image">
                            </a>
                            <p class="entry-date date published"><time datetime="2021-06-30" itemprop="datePublished">June 30, 2021</time></p>
                            <h2 class="post-title" itemprop="name"><a href="{{blog.link}}">{{blog.title}}</a></h2>
                            <p class="post-excerpt" itemprop="description">{{blog.description}}</p>
                        </article><!-- /.tile -->
                        {% endfor %}
                    </div>
                </div><!-- /.page-content -->
            </div><!-- /.archive-wrap -->
        </div><!-- /.wrap -->
    </div><!-- /#main -->
    
   

{{ content }}