---
layout: base
description: Template for digests
---

<div class="page-title">
  <h1>Posts</h1>
</div>
<h3>Digest from the team sharing knowledge, tools, technologies, best practices and research topics. </h3>
<ul class="nhsuk-grid-row nhsuk-card-group">
  {% for blog in site.data.digest %}

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable">
      <img class="nhsuk-card__img" src="{{blog.image}}" alt="teaser" />
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="{{blog.link}}">{{blog.title}}</a>
        </h2>
        <h6 class="post-author" itemprop="author">{{blog.author}}</h6>
        <p class="nhsuk-card__description">{{blog.description}}</p>
      </div>
    </div>
  </li>

  {% endfor %}
</ul>
