---
layout: base
description: Template for projects
---

<div class="page-title">
    <h1>Projects</h1>
</div>          
<h3>Separated into stages</h3>

{% for stage in site.data.kanban %}

    <br>
    <div class="notice-success">
        <h1 style="color: rgb(0, 0, 0)">{{stage.name}}</h1>
    </div>
    <ul class="nhsuk-grid-row nhsuk-card-group">

        {% for proj in site.data.project %}
            {% if stage.name == proj.stage %}

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                    <div class="nhsuk-card">
                        <div class="nhsuk-card__content">
                            <h2 class="post-title" itemprop="name"><a href="{{proj.link}}">{{proj.title}}</a></h2>
                            <p class="post-excerpt" itemprop="description">{{proj.description}}</p>
                            <td class="nhsuk-table__cell">
                                <strong class="nhsuk-tag">
                                {{proj.badge1}}
                                </strong>                            
                            </td>        
                            <td class="nhsuk-table__cell">
                                <strong class="nhsuk-tag">
                                {{proj.badge2}}
                                </strong>                            
                            </td>      
                            <td class="nhsuk-table__cell">
                                <strong class="nhsuk-tag">
                                {{proj.badge3}}
                                </strong>                            
                            </td>      
                        </div>
                    </div> 
                </li>

            {% endif %}    
        {% endfor %}    

    </ul>   

{% endfor %}
