---
layout: base
---
<style>
nav {
  background-color: linen;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


.break-out {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
  color: rgba(0,0,0,.6);
}
</style>
{% include work_navbar.html %}
<div class="break-out"> 
  <div class="container">
    <div class="overflow-auto row flex-row flex-nowrap mt-4 pb-4 pt-2">
        {% for stage in site.data.kanban %}
          <div class="col-md-3">
              <div class="card bg-light">
                  <div class="card-body">
                      <h6 class="card-title text-uppercase text-truncate py-2">{{stage.name}}</h6>
                      <div class="items border border-light">
                          {% for project in site.data.work %}
                          {% if stage.name == project.stage %}
                          <div class="card shadow-sm mb-4">
                              <div class="card-body p-2">
                                  <div class="card-title">{{project.title}}</div>
                                  <a class="btn btn-primary btn-sm" href="{{project.link}}" role="button">View</a>
                              </div>
                          </div>
                          {% endif %}
                          {% endfor %}
                      </div>
                  </div>
              </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>

{{ content }}